/*************************************************
    GENERAL STYLES
 *************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/************************************************
    UTILITIES
 ************************************************/
/* !Container di default (DA ADATTARE AL LAVORO CORRENTE) */
.container {
    max-width: 1200px;
    margin: 0 auto;
}


.d-flex {
    display: flex;
}


/* !"DEBUG" DA ELIMINARE TERMINATO IL CODICE*/
.debug {
    background-color: rgba(0, 102, 255, 0.5);
    border: 1px solid #000;
}



/************************************************
    SITE SECTIONS
 ************************************************/

/* HEADER */
header .topbar {
    justify-content: space-between;
}

/* /HEADER */


/************************************************
    RESPONSIVE
 ************************************************/

/* SOLUZIONE MOBILE FIRST */



/* RISOLUZIONE 550px MOBILE */
@media screen and (min-width: 550px) {

    /* HEADER */
    header .topbar .menu-right {
        display: none;
    }

    /* /HEADER */
}

/* /RISOLUZIONE 1200 PX */



/* RISOLUZIONE 768px TABLET */
@media screen and (min-width: 768px) {}

/* /RISOLUZIONE 1200 PX */



/* RISOLUZIONE 1200px DESKTOP*/
@media screen and (min-width: 1200px) {

    /* HEADER */
    header .topbar.container {
        max-width: 1200px;
        margin: 0 auto;
    }

    header .topbar .b-menu {
        display: none;
    }

    header .topbar .menu-right {
        display: block;
        display: flex;
    }

    /* HEADER */
}

/* /RISOLUZIONE 1200 PX */