/*************************************************
    GENERAL STYLES
 *************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/************************************************
    UTILITIES
 ************************************************/
/* !Container di default (DA ADATTARE AL LAVORO CORRENTE) */
.container {
    max-width: 1200px;
    margin: 0 auto;
}


.d-flex {
    display: flex;
}


/* !"DEBUG" DA ELIMINARE TERMINATO IL CODICE*/
.debug {
    background-color: rgba(0, 102, 255, 0.5);
    border: 1px solid #000;
}



/************************************************
    SITE SECTIONS
 ************************************************/

/* HEADER */
header .topbar {
    justify-content: space-between;
}

/* /HEADER */

/* MAIN */

/* demo */

main .demo .row .col {
    /* !ALTEZZA PROVVISORIA (DA ELIMINARE) */
    height: 200px;
}

main .demo .row .col .card {
    /* !ALTEZZA PROVVISORIA (DA ELIMINARE) */
    height: 100%;
}

main .demo .row .col .card {
    justify-content: center;
    border-radius: 10px;
}

/* /demo */

/* planning */
main .planning .row .col {
    justify-content: center;
    /* !ALTEZZA PROVVISORIA (DA ELIMINARE) */
    height: 200px;
}

/* /planning */

/* testimonials */
main .testimonials {
    text-align: center;
}

main .testimonials .row .card {
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}

main .testimonials .row .card .img {
    width: 100px;
    height: 100px;
    background-color: #000;
    border-radius: 50%;
}

/* /testimonials */

/* /MAIN */


/************************************************
    RESPONSIVE
 ************************************************/

/* SOLUZIONE MOBILE FIRST */

/* RISOLUZIONE 550px MOBILE */
@media screen and (min-width: 550px) {

    /* HEADER */
    header .topbar .menu-right {
        display: none;
    }

    /* /HEADER */
}

/* /RISOLUZIONE 550px MOBILE */



/* RISOLUZIONE 768px TABLET */
@media screen and (min-width: 768px) {

    /* MAIN */

    /* demo */
    main .demo .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    main .demo .row .col:nth-child(1) {
        width: 66.66%;
    }

    main .demo .row .col:nth-child(2) {
        width: 33.33;
        flex-grow: 1;
    }

    main .demo .row .col:nth-child(3),
    .demo .row .col:nth-child(4),
    .demo .row .col:nth-child(5) {
        width: calc(33.33%);
    }


    /* /demo */

    /* planning */
    main .testimonials .row .card {
        border-radius: 10px;
        flex-direction: row;
        align-items: center;
    }

    /* /planning */


    /* /MAIN */
}

/* /RISOLUZIONE 768px TABLET */



/* RISOLUZIONE 1200px DESKTOP */
@media screen and (min-width: 1200px) {

    /* HEADER */
    header .topbar {
        max-width: 1200px;
        margin: 0 auto;
    }

    header .topbar .b-menu {
        display: none;
    }

    header .topbar .menu-right {
        display: block;
        display: flex;
    }

    /* HEADER */

    /* MAIN */


    /* demo */
    main .demo .row {
        max-width: 1200px;
        margin: 0 auto;
    }

    /* /demo */


    /* planning */
    main .planning .row {
        display: flex;
    }

    main .planning .row .col {
        width: calc(100% / 2);
    }

    main .planning .row .col:first-child {
        justify-content: flex-end;
    }

    main .planning .row .col:last-child {
        justify-content: flex-start;
    }

    /* /planning */

    /* testimonials */
    main .testimonials .row {
        max-width: 1200px;
        margin: 0 auto;
    }
    /* /testimonials */


    /* /MAIN */

}

/* /RISOLUZIONE 1200px DESKTOP */