/*************************************************
    GENERAL STYLES
 *************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* COLORS */
:root {
    --blue-color: #0084fd;
    --lightblue-color: #b5ddff;
    --white-color: #ffffff;
    --violet-color: #9792e4;
    --gold-color: #fdc15f;
    --black-color: #333333;
}

/* /COLORS */


/************************************************
    UTILITIES
 ************************************************/
/* !Container di default (DA ADATTARE AL LAVORO CORRENTE) */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


.d-flex {
    display: flex;
}


/* !"DEBUG" DA ELIMINARE TERMINATO IL CODICE*/
.debug {
    background-color: rgba(0, 102, 255, 0.5);
    border: 1px solid #000;
}


/* BUTTONS */
.btn-white {
    background-color: var(--white-color);
    padding: 10px 25px;
    display: inline-block;
    color: black;
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
}

.btn-blue {
    background-color: var(--blue-color);
    padding: 10px 50px;
    display: inline-block;
    color: var(--white-color);
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
}


.btn-violet {
    background-color: var(--violet-color);
    padding: 10px 25px;
    display: inline-block;
    color: var(--white-color);
    border-radius: 20px;
    text-align: center;
}

.btn-violet-invert {
    background-color: var(--white-color);
    padding: 10px 25px;
    display: inline-block;
    color: var(--violet-color);
    border-radius: 20px;
    text-align: center;
}

/* /BUTTONS */


/************************************************
    SITE SECTIONS
 ************************************************/

/* HEADER */
header {
    background-color: var(--blue-color);
    color: var(--white-color);
}

header .topbar {
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

header .topbar .b-menu {
    cursor: pointer;
}

/* /HEADER */

/* MAIN */

/* demo */
main .demo {
    color: var(--blue-color);
}

main .demo .row .col {
    padding: 20px 0;
}

main .demo .row .col .card {
    flex-direction: column;
    padding: 0 25px;
    padding-top: 30px;
    border-radius: 20px;
    background-color: var(--lightblue-color);
}

main .demo .row .col:nth-child(2) .card,
.demo .row .col:nth-child(3) .card,
.demo .row .col:nth-child(4) .card,
.demo .row .col:nth-child(5) .card {
    text-align: center;
}

main .demo .row .col .card p {
    color: #000;
    padding: 30px 0;
    line-height: 30px;
}

main .demo .row .col .card .text .button a {
    text-decoration: none;
    color: var(--white-color);
}

main .demo .row .col:first-child .card .text .button a i {
    padding-right: 10px;
}

main .demo .row .col .card img {
    width: 100%;
    margin-top: 30px;
    margin-right: 20px;
}

main .demo .row .col:nth-child(2) .card i,
.demo .row .col:nth-child(3) .card i,
.demo .row .col:nth-child(4) .card i,
.demo .row .col:nth-child(5) .card i {
    font-size: 90px;
    margin-bottom: 30px;
}

/* /demo */

/* planning */
main .planning {
    background-color: var(--violet-color);
    color: var(--white-color);
}

main .planning .row {
    padding: 40px 0;
}

main .planning .row .col:last-child {
    border-radius: 70px;
    background-color: var(--white-color);
}

main .planning .row .col:first-child .card {
    flex-direction: column;
}

main .planning .row .col:last-child .card {
    flex-direction: column;
    align-items: center;
}

main .planning .row .col .card {
    padding: 20px 0;
}

main .planning .row .col .card .img img {
    width: 100%;
}

main .planning .row .col:first-child .card .text h1 {
    padding: 40px 0;
    font-size: 30px;
}

main .planning .row .col:first-child .card .text p {
    line-height: 30px;
    padding-bottom: 20px;
}

main .planning .row .col:last-child .card .text h1,
.planning .row .col:last-child .card .text p {
    color: black;
    text-align: center;
    line-height: 30px;
    padding: 15px;
}

main .planning .row .col .card .button {
    justify-content: center;
    align-items: center;
    background-color: var(--violet-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 30px;
}

main .planning .row .col .card .button i {
    color: black;
}

/* /planning */

/* testimonials */
main .testimonials {
    text-align: center;
    padding: 60px;
}

main .testimonials .text p {
    padding: 20px;
}

main .testimonials .row .card {
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 20px 10px;
}

main .testimonials .row .card .img {
    width: 100px;
    height: 100px;
    background-color: #000;
    border-radius: 50%;
}

main .testimonials .row .card .text p {
    padding: 10px;
}

/* /testimonials */

/* benefits */
main .benefits .text {
    text-align: center;
}

main .benefits .row .col .card {
    border-radius: 10px;
    margin: 10px 0;
    /* !ALTEZZA PROVVISORIA (DA ELIMINARE) */
    height: 200px;
    padding: 20px 10px;
}

main .benefits .row .col .card h1,
.benefits .row .col .card h3,
.benefits .row .col .card p {
    padding: 10px 0;
}

main .benefits .row .col .card .button {
    padding-top: 10px;
}

/* /benefits */

/* about us */
main .aboutus .box-aboutus .text,
.box-aboutus .img {
    margin: 10px 0;
}

/* /about us */

/* get started */
main .started {
    text-align: center;
}

/* /get started */

/* /MAIN */

/* FOOTER */
footer .box-menu {
    max-width: 1200px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

/* /FOOTER */


/************************************************
    RESPONSIVE
 ************************************************/

/* SOLUZIONE MOBILE FIRST */

/* RISOLUZIONE 200px MOBILE */
@media screen and (min-width: 200px) {

    /* HEADER */
    header .topbar .menu-right {
        display: none;
    }

    /* /HEADER */
}

/* /RISOLUZIONE 200px MOBILE */



/* RISOLUZIONE 768px TABLET */
@media screen and (min-width: 768px) {

    /* MAIN */

    /* demo */
    main .demo .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    main .demo .row .col:nth-child(1) {
        width: 66.66%;
    }

    main .demo .row .col:nth-child(2) {
        width: 33.33%;
    }

    main .demo .row .col:nth-child(3),
    .demo .row .col:nth-child(4),
    .demo .row .col:nth-child(5) {
        width: calc(33.33%);
    }

    main .demo .row .col .card {
        margin: 0 10px;
        height: 100%;
    }

    main .demo .row .col:first-child .card {
        margin-left: 0;
    }

    main .demo .row .col:nth-child(2) .card {
        margin-right: 0;
    }

    main .demo .row .col:nth-child(3) .card {
        margin-left: 0;
    }

    main .demo .row .col:last-child .card {
        margin-right: 0;
    }


    /* /demo */

    /* planning */

    main .planning .row .col:first-child .card .text h1 {
        font-size: 60px;
    }

    /* /planning */

    /* testimonials */
    main .testimonials .row .col .card {
        border-radius: 10px;
        flex-direction: row;
        align-items: center;
    }

    main .testimonials .row .col .card .text {
        text-align: start;
        padding-left: 20px;
    }

    /* /testimonials */

    /* benefits */
    main .benefits .row {
        display: flex;
        flex-wrap: wrap;
    }

    main .benefits .row .col {
        width: calc(100% / 2);
    }

    main .benefits .row .col:nth-child(1) .card,
    .benefits .row .col:nth-child(3) .card,
    .benefits .row .col:nth-child(5) .card {
        margin-right: 10px;
    }

    main .benefits .row .col:nth-child(2) .card,
    .benefits .row .col:nth-child(4) .card,
    .benefits .row .col:nth-child(6) .card {
        margin-left: 10px;
    }

    /* /benefits */

    /* about us */
    main .aboutus .box-aboutus {
        display: flex;
        justify-content: center;
    }

    main .aboutus .box-aboutus .text {
        width: 65%;
    }

    main .aboutus .box-aboutus .img {
        width: 35%;
    }

    /* /about us */


    /* /MAIN */
}

/* /RISOLUZIONE 768px TABLET */



/* RISOLUZIONE 1200px DESKTOP */
@media screen and (min-width: 1200px) {

    /* HEADER */
    header .topbar {
        max-width: 1200px;
        margin: 0 auto;
    }

    header .topbar .b-menu {
        display: none;
    }

    header .topbar .menu-right {
        display: block;
        display: flex;
        align-items: center;
    }

    header .topbar .menu-right ul {
        list-style: none;
    }

    header .topbar .menu-right ul li {
        padding-right: 30px;
    }

    header .topbar .menu-right ul li a {
        text-decoration: none;
        color: var(--white-color);
    }

    header .topbar .menu-right .button a {
        text-decoration: none;
    }

    /* HEADER */

    /* MAIN */


    /* demo */
    main .demo .row {
        max-width: 1200px;
        margin: 0 auto;
    }

    main .demo .row .col:first-child .card {
        flex-direction: row;
        justify-content: space-between;
    }

    main .demo .row .col:first-child .card img {
        width: 50%;
    }


    /* /demo */


    /* planning */
    main .planning .row {
        display: flex;
        justify-content: center;
    }

    main .planning .row.container {
        width: 50%;
    }

    main .planning .row .col {
        margin: 0 10px;
    }

    main .planning .row .col:first-child {
        width: 50%;
    }

    main .planning .row .col:first-child .card .text h1{
        font-size: 30px;
    }

    main .planning .row .col:last-child {
        width: 50%;
        margin-top: 150px;
        margin-left: 50px;
    }


    /* /planning */

    /* testimonials */
    main .testimonials .row {
        max-width: 1200px;
        margin: 0 auto;
    }

    /* /testimonials */

    /* benefits */
    main .benefits .row {
        max-width: 1200px;
        margin: 0 auto;
    }

    main .benefits .row .col {
        width: calc(100% / 3);
    }

    main .benefits .row .col .card {
        margin: 10px 10px;
    }

    main .benefits .row .col:nth-child(1) .card,
    .benefits .row .col:nth-child(4) .card {
        margin-left: 0;
    }

    main .benefits .row .col:nth-child(3) .card,
    .benefits .row .col:nth-child(6) .card {
        margin-right: 0;
    }

    /* /benefits */


    /* /MAIN */

}

/* /RISOLUZIONE 1200px DESKTOP */